
.flexContainer {
    display: flex;
}

.green {
    text-align: right;
}
    h1 {
    text-align: center;
    color: brown;
    font-size: 30px;
}

p { 
   
    color: black;

}

.caseStudies{
    background-color:gray;
    height: 300px;
    
}
    
.footer {
    width:500px;
       margin: 0 auto;
    }
    
    .nav{
        color: pink;
    }

    .about-me {
        display: flex;
    }



        .about{
            text-align: center;
            color: brown;
        }
        .note{
            color: lightgray;
            text-align: center;
            font-style: italic;

        }